body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #FFF6EF;
    color: #333;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
    color: #2c3e50;
}

p {
    font-family: 'Georgia', serif; 
}


section {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Updated Intro Section */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh; 
    background-color: #FFF6EF;
    text-align: center;
    padding: 40px;
}

.intro-content {
    max-width: 800px;
    padding: 20px;
    background: #eef9f4; /* Light green inside the box */
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #2c3e50;
}

.intro p {
    font-size: 1.2em;
    line-height: 1.6;
    font-weight: 400;
    color: #2c3e50;
}

.intro strong {
    font-weight: 600;
    color: #4CAF50; /* Highlighted numbers in green */
}

/* Features Section */
.content-section {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 60px 20px; 
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature {
    background: #eef9f4; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    opacity: 0;
    transform: translateX(0); 
    transition: all 0.6s ease-out;
}

/* Animations */
.slide-in-left {
    transform: translateX(-50px); 
}

.slide-in-right {
    transform: translateX(50px); 
}

/* Reveal on Scroll */
.animate-on-scroll {
    opacity: 0;
}

.animate-on-scroll.scrolled-in {
    opacity: 1;
    transform: translateX(0); 
}


#mission {
    background: #eef9f4; 
    padding: 60px 20px;
    border-radius: 8px;
    transition: all 0.6s ease-out;
    border: 1px solid #ddd;
}

#mission p{
    font-size: 1.2em;
    margin-left: 50px;
    margin-right: 50px;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.stacers-intro {
    text-align:center;
    padding: 60px 20px;
    border-radius: 8px;
    background: #eef9f4; /* Light green inside the box */
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(50px);
    transition: all 0.6s ease-out;
    opacity: 0;
    font-size: 1.2em;

}

.stacers-intro.scrolled-in {
    opacity: 1;
    transform: translateX(0);
}